<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add product</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
    <div class="container my-5">
        <h2>New Product</h2>
        <div>
            <form class="container my-5" action="#" th:action="#{/products/add}" th:object="${product}" method="post">
                <div class="form-group col-md-6">
                    <label for="productsubcategory"  class="col-form-label">Product Subcategory</label>
                    <select id="productsubcategory" th:field="*{productsubcategory}">
                        <option
                                th:each="prodsub : ${productsubcategories}"
                                th:value="${prodsub.productsubcategoryid}"
                                th:text="${prodsub.productsubcategoryid + ': ' + prodsub.productsubcategoryid + ' ' + prodsub.name}"
                                th:selected="${product.productsubcategory==prodsub}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('productsubcategory')}" th:errors="*{productsubcategory}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="productcategory"  class="col-form-label">Product category</label>
                    <select id="productcategory" th:field="*{productsubcategory.productcategory}">
                        <option
                                th:each="prodcat : ${productcategories}"
                                th:value="${prodcat.productcategoryid}"
                                th:text="${prodcat.productcategoryid + ': ' + prodcat.name}"
                                th:selected="${product.productsubcategory.productcategory==prodcat}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('productsubcategory.productcategory')}" th:errors="*{productsubcategory.productcategory}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                <label for="unitmeasure"  class="col-form-label">Unit measure</label>
                <select id="unitmeasure" th:field="*{unitmeasure1}">
                    <option th:each="um : ${unitmeasures}"
                            th:value="${um.unitmeasurecode}"
                            th:text="${um.unitmeasurecode + ': ' + um.name}"
                            th:selected="${product.unitmeasure1==um}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('unitmeasure1')}" th:errors="*{unitmeasure1}" class="text-danger"></span>
            </div>
              <div class="form-group col-md-6">
                <label for="product-number">Product name</label>
                <input type="text" name="name" id="name" class="form-control" th:field="*{name}" th:value="${product.name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            </div>  
            <div class="form-group col-md-6">
                <label for="product-number">Product number</label>
                <input type="number" name="productnumber" id="product-number" class="form-control" th:field="*{productnumber}" th:value="${product.productnumber}"/>
                <span th:if="${#fields.hasErrors('productnumber')}" th:errors="*{productnumber}" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                <label for="product-day-to-manufacture">Days to manufacture</label>
                <input type="number" name="daystomanufacture" id="days-to-manufacture" class="form-control" th:field="*{daystomanufacture}" th:value="${product.daystomanufacture}"/>
                <span th:if="${#fields.hasErrors('daystomanufacture')}" th:errors="*{daystomanufacture}" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                <label for="start-date">Start Sell Date</label>
                <input type="datetime" name="timestamp" id="start-date" class="form-control" th:field="*{sellstartdate}" th:value="${product.sellstartdate}"/>
                <span th:if="${#fields.hasErrors('sellstartdate')}" th:errors="*{sellstartdate}" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                <label for="end-date">End Sell Date</label> 
                <input type="datetime" name="timestamp" id="end-date" class="form-control" th:field="*{sellenddate}" th:value="${product.sellenddate}"/>
                <span th:if="${#fields.hasErrors('sellenddate')}" th:errors="*{sellenddate}" class="text-danger"></span>
            </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <input type="submit" name="action" class="btn btn-primary" value="Continue">
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type="reset" class="btn btn-secondary" value="Clear">
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type="submit" name="action" class="btn btn-secondary" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>