<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Menu</h2>

          <p>
            <a href="/products/"
              ><i class="fas fa-cart-arrow-down ml-2"></i> Go to Products</a
            >
          </p>
          <p>
            <a href="/product-vendors/"
              ><i class="fas fa-user-edit ml-2"></i> Go to Product Vendors</a
              >
          </p>
           <p>
            <a href="/transaction-histories/"
              ><i class="fas fa-calendar ml-2"></i> Go to transactions history</a
              >
          </p>
           <p>
            <a href="/documents/"
              ><i class="fas fa-file-word ml-2"></i> Go to Documents</a
              >
          </p>
        </div>
      </div>
      <p>
        <a href="/logout"><i class="link"></i> Logout</a>
      </p>
    </div>
  </body>
</html>
